<%= @hash.inspect %>
<div id="map" style='width: 100%; height: 800px;'></div>

<script type="text/javascript">

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    handler.map.centerOn({lat: 49, lng: 32});
    handler.getMap().setZoom(6);
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	});

</script>
